*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    padding-top: 100px;
    background-image: url(form.jpg);
}

.loginform h2{
    margin-bottom: 10px;
    color: azure;
    background-color: black;
    font-style: oblique;

}
.loginform input{
   padding: 8px; 
   width: 50%;
   border-radius:4px;
   margin: 8px;
   border: 2px solid black
}
.loginform button{
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 90px;
    border-radius: 5px;
    border: 5px;
   
}